{% extends 'base.html' %}
{% load static %}
{% block title %}Contact{% endblock title %}
{% block banner-slider %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" >
      <img src="{% static 'images/banner/b21.jpg' %}" class="d-block w-100" alt="banner image" height="600px">
    </div>
    <div class="carousel-item" >
        <img src="{% static 'images/banner/b22.jpg' %}" class="d-block w-100" alt="banner image" height="600px">
      </div>
      <div class="carousel-item" >
        <img src="{% static 'images/banner/b23.jpg' %}" class="d-block w-100" alt="banner image" height="600px">
      </div>
      <div class="carousel-item" >
        <img src="{% static 'images/banner/b20.jpg' %}" class="d-block w-100" alt="banner image" height="600px">
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock banner-slider %}

{% block main.content %}
<section class="cnt-detail">
<div class="container">
    <br>
    <h2>Contact Us</h2>
    <br>
    <div class="row">
        <p>Address :</p>
        <p>Contact :</p>
        <p>Email :</p>
    </div>

</div>
<br><br>
</section>

{% endblock main.content %}